:deep(#editorContainer) {
    height: 400px;
}

:deep(.text-info) {
    color: blue;
    text-align: center;
    margin-top: 20px;
}

:deep(.text-danger) {
    color: red;
    text-align: center;
    margin-top: 20px;
}

:deep(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:deep(body) {
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

:deep(li) {
    margin-left: 16px;
}

:deep(a) {
    cursor: pointer;
}

:deep(p) {
    display: inline-block;
    margin: 0;
}


:deep(.container) {
    max-width: 991px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

:deep(.toolbar) {
    padding: 16px;
    background: #eee;
}

:deep(.toolbar .head) {
    display: flex;
    grid-gap: 10px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

:deep(.toolbar .head > input) {
    max-width: 100px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 2px solid #ddd;
    outline: none;
}

:deep(.toolbar .head select) {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}

:deep(.toolbar .head .color) {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 6px;
    padding: 0 10px;
}

:deep(.toolbar .head .color span) {
    font-size: 14px;
}

:deep(.toolbar .head .color input) {
    border: none;
    padding: 0;
    width: 26px;
    height: 26px;
    background: #fff;
    cursor: pointer;
}

:deep(.toolbar .head .color input::-moz-color-swatch) {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

:deep(.toolbar .btn-toolbar) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 10px;
}

:deep(.toolbar .btn-toolbar button) {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

:deep(.toolbar .btn-toolbar button:hover) {
    background: #f3f3f3;
}

:deep(#content) {
    padding: 16px;
    outline: none;
    max-height: 50vh;
    overflow: auto;
}

:deep(#show-code[data-active="true"]) {
    background: #eee;
}